<li id="<%= newsfeed.id %>" class="newsfeed">
  <h2 class="title"><%= newsfeed.title %></h2>
  <div class="contentnewsfeed"><%= newsfeed.content %></div>
  <span class="timestamp">
    Posted <%= newsfeed.created_at.strftime('%a %d %b %Y') %>
  </span>
  <% if current_user.admin?%>
     | <%= link_to "delete", newsfeed, method: :delete, remote: true, data: { confirm: "You sure?" }%>
  <% end %>
</li>
